{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

Description of the FTCR China indices.

<!-- <figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2F6c1ff0e4-0b32-11e7-97d1-5e720a26771b?source=next&fit=scale-down&width=700"></img>
    <figcaption class="o-typography-caption">
    <a class="o-typography-link" href="#void">&#xA9;</a> placeholder
  </figcaption>
</figure> -->



<link rel="stylesheet" type="text/css" href="styles.scss" />



<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script> -->
<!-- <div id ="dfgdfg" class="graphic graphic-b-1 graphic-pad-1">
  <div class='sdvdfsv'></div>
</div> -->

<div id ="framechart1" class="graphic graphic-b-1 graphic-pad-1">
  <div class='gia-chart'></div>

  <p>hello</p>
</div>

<div id ="framechart2" class="graphic graphic-b-1 graphic-pad-1">
  <div class='gia-chart2'></div>
</div>




Other charts:








<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-card@^2.2.4,o-buttons" />

<button class="o-buttons o-buttons--standout">Show me a trendline</button>

<

{% endmarkdown %}
{% endblock %}

<!-- <script async type="javascript" src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-buttons" />
<script src="//origami-build.ft.com/v2/bundles/js?modules=o-date%40%5E2.2.1"></script> -->
